* {
 /* border: 1px dashed black; */
  font-family: Georgia;
  font-size: 19px;
  font-weight: lighter; 
  background-color: #F0F8FF;
}

.navbar {
  text-align: right;
  position: fixed;
  justify-content: space-evenly;
  list-style-type: none; 
  display: inline-block; 
}

ul {
  top: 0; 
  right:0; 
  width: 100%; 
  background-color: CornflowerBlue; 
  padding: 10px; 
  margin-top: 0; 
}

li {
display: inline-block;
padding: 10px; 
text-align: justify; 
word-wrap:break-word;
margin: 0 10px;  
background-color: CornflowerBlue; 
}
.navbar > a:hover {
  color: goldenrold; 
}

h1 {
 text-align: center;
 font-size: 22px; 
 font-weight: bold; 
}

a {
  text-decoration: none; 
  color: white; 
  background-color: CornflowerBlue; 
}

#welcome-section {
  padding: 40px 0; 
  width: 100%; 
}
#welcome-section>h1 {
  font-size: 40px; 
  padding: 20px; 
  font-weight: normal; 
}
.project-grid {
  width: 100%;
  display: inline-flex; 
  justify-content: space-around;
}
.project-tile {
  border: solid black; 
  max-width: 100px;   
  flex: space-evenly; 
  margin-left: auto;
  margin-right:auto; 
  padding: 80px 40px 0 40px; 
  align-items: ;

} 
.contacts {
  width: 100%; 
  display: inline-flex; 
  justify-content: space-around; 
}
.contacts > a {
  color: white ; 
  background-color: CornFlowerBlue; 
  padding: 20px; 
  border-radius: 10px; 
  border-bottom: solid gray 2px;
  border-right: solid gray 2px; 
}
.contacts > a:hover {
  background-color: goldenrod; 
  border: solid white 2px; 
}
